.vscode/**
experiment/**
*.o
build/**
*.code-workspace
**/downloads/**
**/*.aux
**/*.bbl
**/*.blg
**/*.log
**/*.out
**/*.toc
*.pdf
*.s
**/.ipynb_checkpoints
**/dissertation_packages
*.pdf
src/utils/benchmarks/*
src/utils/readings/*
write_up/thesis/update-tlmgr-latest.sh
*.lof
*.lot
**/__pycache__
*.tmp
*.idx